body {
    background-color: rgb(245, 245, 220);
}

#titulo {
    text-align: center;
    margin: auto;
}

section {
    background-color: #ffffff;
    padding: 15px;
    width: 360px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
}

button {
    border: none;
    background: #a7e2b66c;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
}